@import "tailwindcss";

:root {
  /* Light Mode */
  --background: #ffffff;
  --foreground: #1e293b; /* Slate-800 */
  --primary: #6366f1; /* Indigo-500 */
  --secondary: #22d3ee; /* Cyan-400 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode */
    --background: #0f172a; /* Slate-900 */
    --foreground: #e2e8f0; /* Slate-200 */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
